.tlTasks, .tlProjects {
  border-top: 1px solid;
  border-spacing: 0;
  border-collapse: collapse;
  width: 100%;
  margin: 1em 0;
  clear: both;
}

.tlTasks td, .tlTasks th,
.tlProjects td, .tlProjects th {
  border: 1px solid #8898BF;
  padding: 0.1em;
}

.tlTasks th, .tlProjects th {
  background: #EEE;
  font-weight: bold;
  font-size: 10pt;
}

.tlProgress {
  border: 1px solid #000;
  background: #F00;
  text-align: center;
  padding: 0 1px;
}

.tlProject th {
  padding: 0.5em;
  text-align: left;
}

.tlTitle {
  font-size: 12pt;
  float: left;
}

.tlTitle a,
.tlTitle a:active,
.tlTitle a:hover,
.tlTitle a:visited {
  color: #000;
}

.tlCount {
  float: right;
}

.tlProject {
  cursor: pointer;
}

.tlProject th {
  background: #D8E8FF;
}

.tlProject:hover th,
.tlProject.tlSelected th {
  background: #84AAF0;
}

.tlProjects .tlTask, .tlProjects .tlPlaceholder {
  display: none;
}

.tlPlaceholder td {
  background: #FFF !important;
  height: 2em;
  padding: 0;
}

.tlPriority, .tlPriority {
  width: 6em;
  text-align: center;
  white-space: nowrap;
}

.tlActions {
  width: 1em;
  white-space: nowrap;
}

.tlPriority1:hover {
  background: #FF9999 !important;
}

.tlPriority1 .tlPriority {
  background: #DD0000 !important;
}

.tlPriority2 .tlPriority  {
  background: #EE7600 !important;
}

.tlPriority2:hover {
  background: #FFDD99 !important;
}

.tlPriority3 .tlPriority {
  background: #FFEE00 !important;
}

.tlPriority3:hover {
  background: #FFFF99 !important;
}

.tlPriority4 .tlPriority {
  background: #336699 !important;
}

.tlPriority4:hover {
  background: #AAAAFF !important;
}

.tlPriority5 .tlPriority {
  background: #009900 !important;
}

.tlPriority5:hover {
  background: #99FF99 !important;
}

.tlPriority100 .tlPriority {
  background: #00FF00 !important;
}

.tlMenu {
  list-style: none;
  margin: 1em 0;
  display: block;
  clear: both;
}

.tlMenu li {
  float: left;
  border: 1px solid #8898BF;
  margin-right: 0.2em;
}

.tlMenu a,
.tlMenu a:active,
.tlMenu a:visited,
.tlMenu a:hover {
  display: block;
  padding: 0.2em 0.4em;
  color: #000;
  text-decoration: none;
  font-weight: bold;
}

.tlMenu a:active,
.tlMenu a:hover {
  color: #000;
  background: #84AAF0;
}

.tlForm {
  clear: both;
}

.tlForm label {
  font-weight: bold;
}

.tlPreview {
  border: 2px solid #A00;
  padding: 8px;
  margin: 8px;
}